/* policy.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

main h1{
    color: #333;
}

h2 {
    color: #333;
}

/* Policy Section */
.policy-section {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e6e6fa; /* Light purple background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.policy-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.policy-section h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.policy-section p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.policy-section ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.policy-section ul li {
    margin-bottom: 10px;
}

/* Links */
.policy-section a {
    color: #007BFF;
    text-decoration: none;
}

.policy-section a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .policy-section {
        padding: 15px;
    }

    .policy-section h1 {
        font-size: 28px;
    }

    .policy-section h2 {
        font-size: 20px;
    }

    .policy-section p {
        font-size: 15px;
    }
}
