/*Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400,500,600,700&display=swap");
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    scroll-padding-top:2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/*some variables*/
:root{
    --main-color: #fd4646;/*red*/
    --text-color:#02ac70;/*green*/
    --bg-color: #fff;/*white*/
    --container-color:#1e1e2a;/*black*/
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.form-section, .summary-section {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
}
h2 {
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 10px;
}
input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}
input[type="tel"]{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}
input[type="checkbox"] {
    margin-right: 8px;
}
.section {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}
.section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.shipping-method, .payment-method {
    padding: 10px;
    border-radius: 8px;
    background-color: #e6f7ff;
    border: 1px solid #007bff;
    margin-bottom: 20px;
}
.btn-buy{
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    width:50%;
    text-align:center;
    border:none;
    border-radius:2rem;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}